@media screen and (max-width: 1459px) {
    .column{
        margin-bottom: 10px;
    }
    .column-card{
        margin-right: 3em !important;
    }
    .need-margin{
        margin-left: 1.5em !important;
    }
    .need-further-margin{
        margin-right: 1.5em !important;
    }
}

