#main{
  text-align: center;
  margin-top: 2em;
}

.menu-card{
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 45%;
  margin-bottom: 2em;;
}

.main-menu-card{
  margin: auto;
  height: auto;
  width: 80%;
}

.menu-li{
  list-style-type: none;
}

#title{
  margin-top: 2em;
}

.menu-item-name{
  font-size: 1.2em;
  font-weight: 600;
}

.card-button{
  margin: 1em;
}

.detail-p{
  margin-left: 2%;
  margin-right: 2%;
  padding: 1em;
}

@media screen and (max-width: 800px) {
  .menu-card{
    height: auto;
    width: 97%;
  }

  .main-menu-card{
    margin: auto;
    height: auto;
    width: 90%;
  }
}