#logo{
  height: 2.2em;
  margin-right: 1em;
}

#navbar{
  position: sticky;
  top: 0;
  left: 0;

}

#register{
  margin-right: .75em;
}

#login-name{
  color: #F0F1F2;
  margin-right: 1em;
  font-size: 1.1em;
}

#cart-total{
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  margin-left: -1.5em;
  margin-right: 1em;
}
