{% load static %}

<footer class="text-center text-white" style="background-color: #f1f1f1;">

  <hr id="hr-footer">
  <!-- Grid container -->
  <div class="container pt-4">
    <h2 style="color: #212529;">Contact Info:</h2>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-instagram"></i></a>

      <!-- Email -->
      <a class='btn btn-link btn-floating btn-lg text-dark m-1' href="mailto:jaronritter01@gmail.com" role="button"
        data-mdb-ripple-color="dark">
        <i class='fas fa-envelope'></i>
      </a>



      <!-- Phone -->
      <a class='btn btn-link btn-floating btn-lg text-dark m-1' href="tel:555-555-5555" role="button"
        data-mdb-ripple-color="dark">
        <i class='fas fa-phone-alt'></i>
      </a>

      <br>
      <hr>
      <h5 class="mb-4" style="color: #212529;">Accepted Payment</h5>
      <!-- PayPal Logo -->
      <div style="height: 150px;">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/Full_Online_Tray_RGB.png"
          alt="PayPal Acceptance Mark" id="paypal-logos" style="height: 60%;">
      </div>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->



  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="#">Fry Captain Inc.</a>
  </div>
  <!-- Copyright -->
</footer>