{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Password Reset</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <style>
    body{
      background-color: #F0F1F2;
    }

    .user-card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
</head>
<body>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card user-card">
        <div class="card-title">
          <hr>
          <h2 class="text-center">Password Reset Sent</h2>
          <hr>
        </div>
        <div class="card-body">
          <h4 class="text-center mb-4">Check Your Email</h4>
          <p>If an account exists with the email you entered, you should receive an email shortly with instructions to reset your password.</p>
          <p>If you don’t receive an email, please make sure you’ve entered the correct email address, and check your spam folder.</p>
          <div class="d-flex justify-content-center">
            <a href="{% url 'login' %}" class="btn btn-info mt-2">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>
